/.idea/.gitignore
/contract/.idea/.gitignore
/contract/.gitignore
/legado/.idea/.gitignore
/legado/.gitignore
/plugins/.idea/.gitignore
/plugins/.gitignore
/legado/src/main/java/com/mynedata/App.java
/contract/src/test/java/com/mynedata/AppTest.java
/legado/src/test/java/com/mynedata/AppTest.java
/plugins/src/test/java/com/mynedata/AppTest.java
/.idea/compiler.xml
/.idea/encodings.xml
/contract/.idea/encodings.xml
/legado/.idea/encodings.xml
/plugins/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/contract/.idea/misc.xml
/legado/.idea/misc.xml
/plugins/.idea/misc.xml
/.idea/modules.xml
/.idea/myneData.iml
